---
layout: layouts/base.njk
permalink: /thanks/index.html
title: Message received
description: Contact-form confirmation.
eleventyExcludeFromCollections: true
---
<div class="page"><p class="eyebrow">Contact</p><h1>Message received.</h1><p>Thank you. Harrington &amp; Kauffman will reply when they are able.</p><p><a href="/">Return home</a></p></div>
